@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital@1&display=swap');
*{
font-family: 'Ubuntu', sans-serif;
padding: 0;
margin:0;
}
a{
    color:#fff;
    text-decoration: none;
}
body {
   background-image:linear-gradient( to right,#01022d,#000);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container{
    background-image: 
    linear-gradient(to right, #01022dd4 30%, #0000004c),
    url(hhhh/1500549.webp)
    ;
    background-position: top;
    width: 90%;
    height: 550px;
}
.container:hover{
    background-image: 
    linear-gradient(to right, #01022dbe 30%, transparent),
    url(hhhh/1500549.webp)
    ; 
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color:white ;
}
.content{
    width: 50%;
    margin-top: 50px;
    padding: 30px;
    color: #fff;
}
.content h2{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    letter-spacing: 3px;
    width: 350px;
    padding: 20px 0;
}
.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.content button:hover{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}